.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}

.profile-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: auto;
  display: flex;
}

#charge-keys-zone {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.register-wallet-button {
  background-color: var(--secondary-light);
  align-self: center;
  border-radius: 10px;
  height: 60px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}

.unlink-wallet-button {
  background-color: var(--secondary-light);
  align-self: center;
  border-radius: 10px;
  height: 60px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}

.input-key {
  width: 700px;
  margin-top: 20px;
  align-self: center;
  height: 50px;
  font-size: 20px;
  color: var(--auxiliar);
  border-radius: 10px;
  border: none;
}

.sections-zone {
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.key-title {
  color: white;
  margin-top: 10px;
  font-size: 40px;
  align-self: center;
  font-family: 'Roboto';
}

#balance {
  height: 400px;
  padding: 10px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: var(--auxiliar-dark);
  opacity: 0.8;
}

.balance-container {
  padding: 5px;
  background-color: var(--secondary-light);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.buttons-wallet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic {
  width: 150px;
  height: 150px;
}

#profile {
  height: 400px;
  padding: 10px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
