.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}

.charts-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: auto;
  display: flex;
}

.selectors-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.char-zone {
  flex: 1;
  margin-top: 20px;
}

#charts {
  width: 70%;
  height: 80vh;
  margin-left: 70px;
  margin-top: 70px;
}
