.loginContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin-bottom: 20px;
}

.loginInput {
  width: 70%;
  align-self: center;
}

.loginFormContainer {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto';
}

.button {
  border: none;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  height: 45px;
  width: 150px;
  margin: 20px;
}

.buttonsContainer #signin {
  background-color: var(--secondary);
}

.buttonsContainer #signup {
  background-color: var(--primary-light);
}
