.register-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  align-self: center;
  border: 2px solid var(--secondary);
}
.select-image-button-container {
  align-self: center;
  width: 170px;
  display: flex;
  margin-top: -40px;
}
.select-image-button {
  width: 40px;
  height: 40px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  position: relative;
  left: 70%;
  color: white;
  background-color: black;
}

.register-form-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

.register-button {
  border: none;
  background-color: var(--secondary);
  color: white;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: bold;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  transition: background-color 0.2s ease-in-out;
}

.register-input {
  width: 70%;
  align-self: center;
}

.register-footer-containter {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}
