.loader {
  position: fixed;
  left: 45%;
  top: 40%;
}

.home-container {
  background-color: rgba(0, 0, 0, 0.4);
  width: auto;
  display: flex;
  flex-direction: row;
}

.section-zone {
  background-color: var(--auxiliar);
  border-radius: 20px;
  border: 2px solid var(--auxiliar-light);
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

#variables {
  justify-content: space-evenly;
}

#rules {
  justify-content: space-around;
}

.convert-title {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
}

.convert-label {
  margin-top: 20px;
  align-self: flex-start;
  font-family: 'Roboto';
  color: white;
  font-size: 20px;
}

.home-content {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 50px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.input-file {
  height: 50px;
  width: 150px;
  border: 1px solid red;
}

.probando {
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow-y: auto;
  font-size: 16px;
  font-family: 'Roboto';
  list-style-type: none;
}

.upload-container {
  margin-top: 20px;
}

.input-file-container {
  position: relative;
  width: 250px;
  height: 50px;
  background-color: var(--secondary-light);
  border-radius: 10px;
}

.variable-change-input {
  font-size: 17px;
  height: 25px;
  padding-left: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.variable-change-selector {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  border-top: none;
  outline: none;
}

.user-variables-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.variables-title {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Roboto';
}

.section-title-zone {
  display: flex;
  width: 100%;
  flex: 1;
  color: white;
  font-family: 'Roboto';
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.section-content-zone {
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex: 4;
}

input[type='file'] {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 50px;
}

.select-file-zone {
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-light);
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  flex: 1;
}

.select-file-name-zone {
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.section-button {
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-light);
  border-radius: 10px;
  border: none;
}

#upload-rule {
  width: 60%;
  margin-left: 20%;
  flex: 0.5;
}

:disabled {
  background-color: var(--secondary-dark);
  color: gray;
}

.select-file-zone:hover {
  background-color: var(--secondary);
}

.select-file-zone:active {
  transform: translateY(2px);
}

.select-file-zone:active:enabled {
  transform: translateY(2px);
}

.section-button:hover:enabled {
  background-color: var(--secondary);
}

.list-item {
  color: white;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  margin-left: 10%;
  font-family: 'Roboto';
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  background-color: var(--secondary-light);
}

.user-check-variables-zone {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.scrollbar {
  height: 250px;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--auxiliar-dark);
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 2px solid var(--secondary-light);
}

.rule-title {
  background-color: white;
  border-radius: 10px;
  color: var(--auxiliar);
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

.rule-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
}
