:root {
  --primary-dark: #1c2566;
  --primary: #283593;
  --primary-light: #535da8;
  --secondary-dark: #aa2e25;
  --secondary: #f44336;
  --secondary-light: #f6685e;
  --auxiliar-light: #4b4949;
  --auxiliar: #323f52;
  --auxiliar-dark: #2c3745;
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
