.Sidebar {
  height: 100vh;
  width: 300px;
  background-color: var(--auxiliar);
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarItem {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.SidebarList #active {
  background-color: var(--auxiliar-dark);
}

.SidebarList .SidebarItem:hover {
  cursor: pointer;
  background-color: var(--auxiliar-dark);
}

.SidebarItem #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarItem #section {
  flex: 70%;
}
